
@import url("https://fonts.googleapis.com/css2?family=Frijole&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Pacifico&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nosifer&display=swap');

@layer base {
  @font-face {
    font-family: "Blackadder";
    src: url("fonts/Black.woff") format("woff");
    font-weight: normal;
    font-style: normal;
  }
}
@tailwind base;
@tailwind components;
@tailwind utilities;



/* :root {
  --background: #ffffff;
  --foreground: #171717;
} */

/* @media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
} */

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

/* hover animation start */

.hover-underline-animation {
  display: inline-block;
  position: relative;
  padding: 6px;
  cursor: pointer;
}

.hover-underline-animation::after {
  content: "";
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: #c56517;
  transition: transform 0.25s ease-out;
}

.hover-underline-animation:hover::after {
  transform: scaleX(1);
}

.hover-underline-animation.left::after {
  transform-origin: bottom right;
}

.hover-underline-animation.left:hover::after {
  transform-origin: bottom left;
}

.hover-underline-animation.center::after {
  transform-origin: bottom center;
}

.hover-underline-animation.center:hover::after {
  transform-origin: bottom center;
}

.hover-underline-animation.right::after {
  transform-origin: bottom left;
}

.hover-underline-animation.right:hover::after {
  transform-origin: bottom right;
}

/* hover animation End */

.marqueeContainer {
  background-color: #d56e1a;

  overflow: hidden;
  white-space: nowrap;
  display: flex;
  align-items: center;
  mask-image: linear-gradient(to right, transparent 0, black 50px, black calc(100% - 50px), transparent 100%);
}

.marqueeContent {
  display: flex;
  flex-direction: row;
  gap: 30px;
  align-items: center;
  animation: scroll 20s linear infinite;
}


@keyframes scroll {
  from {
    transform: translateX(0%);
  }
  to {
    transform: translateX(-50%);
  }
}







